<table class="table">
  <thead class="thead-light">
  <tr>
    <th>Selected event details:</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">Title:</th>
    <td></td>
  </tr>
  <tr>
    <th scope="row">Description:</th>
    <td></td>
  </tr>
  <tr>
    <th scope="row">Status:</th>
    <td></td>
  </tr>
  <tr>
    <th scope="row">is Ticketed:</th>
    <td></td>
  </tr>
  <tr>
    <th scope="row">Participation fee:</th>
    <td scope="row"></td>
  </tr>
  <tr>
    <th>Maximum participants:</th>
    <td></td>
  </tr>
  </tbody>
</table>
<div class="d-flex justify-content-end">
  <button class="btn btn-primary">Delete</button>
  <button class="btn btn-primary ml-3">Save</button>
</div>

