<nav class="navbar navbar-expand-md navbar-light py-4" id="main-nav">
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="home" class="nav-link">Home</a>
      </li>
      <li id="dropdown-myevents" class="nav-item">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">My Events</a>
        <div class="dropdown-menu">
          <a routerLinkActive="active" routerLink="events/overview1" class="dropdown-item">All events list</a>
          <a routerLinkActive="active" routerLink="events/overview2" class="dropdown-item">M/D (component store)</a>
          <a routerLinkActive="active" routerLink="events/overview3" class="dropdown-item">M/D (from service)</a>
          <a routerLinkActive="active" routerLink="events/overview4" class="dropdown-item">M/D (queryparams)</a>
          <a routerLinkActive="active" routerLink="events/overview42" class="dropdown-item">M/D (validated)</a>
          <a routerLinkActive="active" routerLink="events/overview6" class="dropdown-item">M/D (persisted)</a>
        </div>
      </li>
      <li id="dropdown-myevents2" class="nav-item">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">My Events2</a>
        <div class="dropdown-menu">
          <a routerLinkActive="active" routerLink="events/overview11" class="dropdown-item">Overview11</a>
        </div>
      </li>
      <li id="dropdown-registrations" class="nav-item">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">My Registrations</a>
        <div class="dropdown-menu">
          <a href="" class="dropdown-item">Active</a>
          <a href="" class="dropdown-item">History</a>
        </div>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">My Account</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li *ngIf="!isSignedIn()" class="nav-item">
        <a routerLinkActive="active" routerLink="signup" class="nav-link">Sign Up</a>
      </li>
      <li *ngIf="!isSignedIn()" class="nav-item">
        <a routerLinkActive="active" routerLink="login" class="nav-link">Log In</a>
      </li>
      <li *ngIf="isSignedIn()" class="nav-item">
        <a href="#" (click)="signOut()" class="nav-link">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
