<header class="row no-gutters p-4 border-bottom">
  <div class=" col-lg-2">
    <img src="../../../../assets/img/nav-logo-left.png" alt="" class="img-fluid">
  </div>
  <div class="col-lg-8 text-center">
    <h1 class="display-4">Amsterdam Events</h1>
    <div class="d-flex">
      <p class="mr-auto ml-5 lead">Today is {{ retrieveDate() }}</p>
      <p class="ml-auto mr-5 lead">Welcome <span id="signedInUsername"> {{ signedInUsername == null ? 'Visitor' : signedInUsername }}</span></p>
    </div>
  </div>
  <div class="d-none d-lg-block col-lg-2">
    <img src="../../../../assets/img/nav-logo-right.jpg" alt="" class="img-fluid ml-5">
  </div>
</header>

