<div class="row mt-4">
  <div class="col-md-3 ml-3 ml-md-5">
    <h2>Pick a date:</h2>
    <input type="date">

    <h2>Pick a category:</h2>
    <ul>
      <li><a href="#">Sports</a></li>
      <li><a href="#">Markets</a></li>
      <li><a href="#">Festivals</a></li>
      <li><a href="#">Musea</a></li>
      <li><a href="#">Celebrations</a></li>
    </ul>
  </div>
  <div class="middle col ml-4">
    <h2>Events today:</h2>
    <a href="http://amsterdam.nl"><img src="https://source.unsplash.com/random/800x603" alt="" class="img-fluid"></a>
    <a href="http://amsterdam.nl"><img src="https://source.unsplash.com/random/1024x802" alt="" class="img-fluid"></a>
    <a href="http://amsterdam.nl"><img src="https://source.unsplash.com/random/800x600" alt="" class="img-fluid"></a>
    <a href="http://amsterdam.nl"> <img src="https://source.unsplash.com/random/1024x801" alt="" class="img-fluid"></a>
    <a href="http://amsterdam.nl"> <img src="https://source.unsplash.com/random/800x605" alt="" class="img-fluid"></a>

  </div>
  <div class="side col-md-3 mr-4 ml-4">
    <h2>RAI millionaire fair</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias quibusdam ullam? Accusamus in porro
      quidem repudiandae ut? Explicabo, nostrum.<br><hr>Location: Europaplein 22<br>Entrance fee: 10 euros
  </div>
</div>
